site_name: Locus
site_description: High-performance fiducial marker detector.
job_name: locus
site_url: https://noefontana.github.io/locus-tag/
repo_url: https://github.com/NoeFontana/locus-tag
repo_name: NoeFontana/locus-tag

theme:
  name: material
  features:
    - navigation.expand
    - navigation.indexes
    - content.code.copy
  palette:
    - scheme: default
      primary: teal
      accent: purple
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: teal
      accent: purple
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: google

nav:
  - Home: index.md
  - Coordinate Systems: coordinates.md
  - API Reference: api.md
